<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/book-detail.css">
    <script src="https://kit.fontawesome.com/e7a7d8cf45.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="../../assets/Images/logo-LKC.png" alt="">
        <nav>
            <div class="navbar">
                <a href="./landing-page.html" class="nav-item">Home</a>
                <div class="dropdown">
                    <a href="" class="nav-item dropdown-btn">Services</a>
                    <div class="dropdown-content">
                        <a href="./book-collection.html">Peminjaman Buku</a>
                        <a href="./form-donasi.html">Donasi Buku</a>
                        <a href="./book-detail.html">Buku</a>
                    </div>
                </div>
                <a href="" class="nav-item">About</a>
                <a href="" class="nav-item">Contact</a>
                <a href="./profile-page.html" class="nav-item">Profile</a>
            </div>
        </nav>
    </header>
    <main>
        <nav class="breadcrumb">
            <ol class="breadcrumb-collection">
                <li class="breadcrumb-item">
                    <a href="">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="">E-Book</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="">Nama Buku</a>
                </li>
            </ol>
        </nav>

        <section class="book-detail">
            <div class="book-content">
                <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-detail-img">

                <div class="book-detail-content">
                    <h4 class="book-detail-type">E-Book</h4>
                    <h2 class="book-detail-title">Early Childhood Language Education and Literacy Practices in Ethiopia: Perspectives From Indigenous Knowledge, Gender and Instructional Practices</h2>
                    <p class="book-author">Auithor</p>
                    <p class="book-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star star-empty"></i>
                    </p>
                    <div class="book-description-content">
                        <span>
                            <p>Bibli</p>
                            <p>-</p>
                        </span>
                        <span>
                            <p>ISBN</p>
                            <p>9781032534428</p>
                        </span>
                        <span>
                            <p>External ID</p>
                            <p>3700788</p>
                        </span>
                        <span>
                            <p>Publisher</p>
                            <p>ESBCO</p>
                        </span>
                        <span>
                            <p>Collection Type</p>
                            <p>E-Book</p>
                        </span>
                        <span>
                            <p>Call Number</p>
                            <p>-</p>
                        </span>
                        <span>
                            <p>Edition</p>
                            <p>1</p>
                        </span>
                        <span>
                            <p>Year</p>
                            <p>2021</p>
                        </span>
                        <span>
                            <p>E-Book Access</p>
                            <p>Unlimited</p>
                        </span>
                    </div>
                    <div class="button-group">
                        <button>Borrow</button>
                        <button>Buy</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="similar-book collection">
            <h3 class="similar-book-title">Similar Books</h3>
            <div class="collection-list">
                <div class="book">
                    <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-image">
                    <div class="book-description">
                        <p class="book-type-name">E-Book</p>
                        <h4 class="book-title">Site Analysis: Informing Context-Sensitive and Sustainable Site Planning and Design</h4>
                        <p class="book-author">Author</p>
                        <h4 class="book-release">2013</h4>
                        <p class="book-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-image">
                    <div class="book-description">
                        <p class="book-type-name">E-Book</p>
                        <h4 class="book-title">Site Analysis: Informing </h4>
                        <p class="book-author">Author</p>
                        <h4 class="book-release">2013</h4>
                        <p class="book-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </section>
    </main>


    <footer>
        <section class="footer-01">
            <div class="footer-content">
                <h2>Binus Library & Knowledge Center</h2>
    
                <p>Email: Library@binus.edu</p>
                <p>WA: 0878 0967 0004</p>
                <span>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </span>
            </div>
        </section>
        <section class="footer-copyright">
            <p>Copyright @ Kelompok 8 & Binus Library & Knowledge Center. All right reserved</p>
        </section>
    </footer>

    
</body>
</html>