<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection</title>
    <link rel="stylesheet" href="../../src/style/main.css">
    <link rel="stylesheet" href="../../src/style/book-collection.css">
    <script src="https://kit.fontawesome.com/e7a7d8cf45.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="../../assets/Images/logo4.png" alt="">
        <nav>
            <div class="navbar">
                <a href="./landing-page.html" class="nav-item">Home</a>
                <div class="dropdown">
                    <a href="" class="nav-item dropdown-btn" id="dropdown-btn">Services <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="dropdown-icon"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg></a>
                    <div class="dropdown-content dropdown-show">
                        <a href="./book-collection.html">Peminjaman Buku</a>
                        <a href="./form-donasi.html">Donasi Buku</a>
                    </div>
                </div>
                <a href="./profile-page.html" class="nav-item">Profile</a>
            </div>
        </nav>
    </header>

    <main>
        <nav class="breadcrumb">
            <ol class="breadcrumb-collection">
                <li class="breadcrumb-item">
                    <a href="./landing-page.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="./book-collection.html">Search</a>
                </li>
                <!-- <li class="breadcrumb-item">\ buku</li> -->
            </ol>
        </nav>


        <section class="search-section">
            <div class="search-col">
                <h4>Search</h4>
                
                <form action="">
                    <div class="">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Type Here">
                    </div>
                    <div class="">
                        <label for="collection">Title</label>
                        <select name="collection" id="collection">
                            <option value="all">All</option>
                            <option value="all">All</option>
                            <option value="all">All</option>
                            <option value="all">All</option>
                            <option value="all">All</option>
                            <option value="all">All</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="subject">Subject</label>
                        <select name="subject" id="subject">
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="location">Location</label>
                        <select name="location" id="location">
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div>
                        <label for="review">Review</label>
                        <span class="checkbox-star">
                            <input type="checkbox" value="5" id="reviewCheckbox5">
                            <p class="star-collection">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                            </p>
                        </span>
                        <span class="checkbox-star">
                            <input type="checkbox" value="5" id="reviewCheckbox5">
                            <p class="star-collection">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                            </p>
                        </span>
                        <span class="checkbox-star">
                            <input type="checkbox" value="5" id="reviewCheckbox5">
                            <p class="star-collection">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                            </p>
                        </span>
                        <span class="checkbox-star">
                            <input type="checkbox" value="5" id="reviewCheckbox5">
                            <p class="star-collection">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-regular.svg" alt="">
                            </p>
                        </span>
                        <span class="checkbox-star">
                            <input type="checkbox" value="5" id="reviewCheckbox5">
                            <p class="star-collection">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                                <img src="../../assets/Icons/star-solid.svg" alt="">
                            </p>
                        </span>
                    </div>
                    <div class="">
                        <label for="sortBy">Sort By</label>
                        <select name="sortBy" id="SortBy">
                            <option value="newest">Newest</option>
                        </select>
                    </div>
                    <div class="button-collection">
                        <button>SEARCH</button>
                        <button class="active-button">CLEAR ALL</button>
                    </div>
                </form>
            </div>

            <div class="collection-list" id="collection-list">
                <!-- <div class="book" onclick="direct()">
                    <img src="/assets/Images/books/book-01.jpg" alt="" class="book-image">
                    <div class="book-description">
                        <p class="book-type-name">E-Book</p>
                        <h4 class="book-title">Site Analysis: Informing Context-Sensitive and Sustainable Site Planning and Design</h4>
                        <p class="book-author">James A. LaGro, Jr</p>
                        <h6 class="book-release">2013</h6>
                        <p class="book-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="/assets/Images/books/book-02.jpg" alt="" class="book-image">
                    <div class="book-description">
                        <p class="book-type-name">E-Book</p>
                        <h4 class="book-title">Early Childhood Language Education and Literacy Practices in Ethiopia: Perspectives From Indigenous Knowledge, Gender and Instructional Practices</h4>
                        <p class="book-author">Kassahun Weldemariam, Margareth Sandvik, Moges Yigezu</p>
                        <h6 class="book-release">2023</h6>
                        <p class="book-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star star-empty"></i>
                        </p>
                    </div>
                </div> -->
            </div>
        </section>

        <section class="pagination">
            <div class="pagination-number">
                <button>
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <button class="active-pagination">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </section>
    </main>
</body>
<script src="../js/books.js"></script>
<script src="../js/book-collection.js">
</script>
</html>