<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/landing-page.css">
    <script src="https://kit.fontawesome.com/e7a7d8cf45.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img src="../../assets/Images/logo4.png" alt="">
        <nav>
            <div class="navbar">
                <a href="./landing-page.html" class="nav-item">Home</a>
                <div class="dropdown">
                    <a href="" class="nav-item dropdown-btn" id="dropdown-btn">Services <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="dropdown-icon"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg></a>
                    <div class="dropdown-content dropdown-show">
                        <a href="./book-collection.html">Peminjaman Buku</a>
                        <a href="./form-donasi.html">Donasi Buku</a>
                    </div>
                </div>
                <a class="button" href="./login.html">Login</a>
                <a class="button register" href="./register.html">Register</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="banner-section">
            <div class="banner-content">
                <img src="../../assets/Images/banner-01.jpg" alt="" class="banner-image" id="banner-image">
                <div class="banner-controller">
                    <button id="prev-button">
                        <img src="../../assets/Icons/chevron-left-solid.svg" class="prevNextBtn">
                    </button>
                    <button id="next-button">
                        <img src="../../assets/Icons/chevron-right-solid.svg" class="prevNextBtn">
                    </button>
                </div>
            </div>
            <div class="banner-indicator" id="banner-indicator">
            </div>
        </section>

        <section class="book-type-section">
            <div class="book-type-content">
                <h1>Book</h1>
                <div class="book-type-list">
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/book-stack.png" alt="">
                        <h5>Catalog</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/book.png" alt="">
                        <h5>E-Book</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/news-paper.png" alt="">
                        <h5>Newspaper</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/journal.png" alt="">
                        <h5>E-Journal</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/computer.png" alt="">
                        <h5>Multimedia</h5>
                    </div>
                </div>
            </div>
        </section>

        <section class="book-collection-section">
            <div class="book-collection-content">
                <h1>Book Collection</h1>
                <div class="collection-list" id="collection-list">
                    <div class="book">
                        <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-image">
                        <div class="book-description">
                            <p class="book-type-name">E-Book</p>
                            <h4 class="book-title">Site Analysis: Informing Context-Sensitive and Sustainable Site
                                Planning
                                and Design</h4>
                            <p class="book-author">Author</p>
                            <h6 class="book-release">2013</h6>
                            <p class="book-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                            </p>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-image">
                        <div class="book-description">
                            <p class="book-type-name">E-Book</p>
                            <h4 class="book-title">Site Analysis: Informing </h4>
                            <p class="book-author">Author</p>
                            <h6 class="book-release">2013</h6>
                            <p class="book-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="library-section">
            <div class="library-content">
                <h1>Library</h1>
                <div class="library-list">
                    <div class="library-item">
                        <img src="../../assets/Images/location/alam-sutera.jpg" alt="" class="library-image">
                        <p class="library-label">Alam Sutera</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/anggrek.jpeg" alt="" class="library-image">
                        <p class="library-label">Anggrek</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/bandung.png" alt="" class="library-image">
                        <p class="library-label">Bandung</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/fx-senayan.jpg" alt="" class="library-image">
                        <p class="library-label">Fx Senayan</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/jwc-senayan.jpg" alt="" class="library-image">
                        <p class="library-label">Jwc Senayan</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/kijang.jpeg" alt="" class="library-image">
                        <p class="library-label">Kijang</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/malang.jpg" alt="" class="library-image">
                        <p class="library-label">Malang</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/semarang.jpg" alt="" class="library-image">
                        <p class="library-label">Semarang</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <section class="footer-01">
            <div class="footer-content">
                <h2>Binus Library & Knowledge Center</h2>

                <p>Email: Library@binus.edu</p>
                <p>WA: 0878 0967 0004</p>
                <span>
                    <img src="../../assets/Icons/facebook.svg" alt="" class="footer-icon">
                    <img src="../../assets/Icons/twitter.svg" alt="" class="footer-icon">
                    <img src="../../assets/Icons/instagram.svg" alt="" class="footer-icon">
                </span>
            </div>
        </section>
        <section class="footer-copyright">
            <p>Copyright @ Kelompok 8 & Binus Library & Knowledge Center. All right reserved</p>
        </section>
    </footer>
</body>
<script src="/src/js/books.js"></script>
<script src="/src/js/landing-page.js"></script>
</html>