<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/landing-page.css">
    <script src="https://kit.fontawesome.com/e7a7d8cf45.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img src="../../assets/Images/logo-LKC.png" alt="">
        <nav>
            <div class="navbar">
                <a href="./landing-page.html" class="nav-item">Home</a>
                <div class="dropdown">
                    <a href="" class="nav-item dropdown-btn">Services</a>
                    <div class="dropdown-content">
                        <a href="./book-collection.html">Peminjaman Buku</a>
                        <a href="./form-donasi.html">Donasi Buku</a>
                        <a href="./book-detail.html">Buku</a>
                    </div>
                </div>
                <a href="" class="nav-item">About</a>
                <a href="" class="nav-item">Contact</a>
                <a href="./profile-page.html" class="nav-item">Profile</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="banner-section">
            <div class="banner-content">
                <img src="../../assets/Images/banner-01.jpg" alt="" class="banner-image">
                <div class="banner-controller">
                    <button>
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                <div class="banner-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </section>

        <section class="book-type-section">
            <div class="book-type-content">
                <h1>Book</h1>
                <div class="book-type-list">
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/book-stack.png" alt="">
                        <h5>Catalog</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/book.png" alt="">
                        <h5>E-Book</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/news-paper.png" alt="">
                        <h5>Newspaper</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/journal.png" alt="">
                        <h5>E-Journal</h5>
                    </div>
                    <div class="book-type-item">
                        <img src="../../assets/Images/icons/computer.png" alt="">
                        <h5>Multimedia</h5>
                    </div>
                </div>
            </div>
        </section>

        <section class="book-collection-section">
            <div class="book-collection-content">
                <h1>Book Collection</h1>
                <div class="collection-list">
                    <div class="book">
                        <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-image">
                        <div class="book-description">
                            <p class="book-type-name">E-Book</p>
                            <h4 class="book-title">Site Analysis: Informing Context-Sensitive and Sustainable Site
                                Planning
                                and Design</h4>
                            <p class="book-author">Author</p>
                            <h6 class="book-release">2013</h6>
                            <p class="book-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                            </p>
                        </div>
                    </div>
                    <div class="book">
                        <img src="../../assets/Images/books/book-01.jpg" alt="" class="book-image">
                        <div class="book-description">
                            <p class="book-type-name">E-Book</p>
                            <h4 class="book-title">Site Analysis: Informing </h4>
                            <p class="book-author">Author</p>
                            <h6 class="book-release">2013</h6>
                            <p class="book-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                                <i class="fa-regular fa-star star-empty"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="library-section">
            <div class="library-content">
                <h1>Library</h1>
                <div class="library-list">
                    <div class="library-item">
                        <img src="../../assets/Images/location/alam-sutera.jpg" alt="" class="library-image">
                        <p class="library-label">Alam Sutera</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/anggrek.jpeg" alt="" class="library-image">
                        <p class="library-label">Anggrek</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/bandung.png" alt="" class="library-image">
                        <p class="library-label">Bandung</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/fx-senayan.jpg" alt="" class="library-image">
                        <p class="library-label">Fx Senayan</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/jwc-senayan.jpg" alt="" class="library-image">
                        <p class="library-label">Jwc Senayan</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/kijang.jpeg" alt="" class="library-image">
                        <p class="library-label">Kijang</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/malang.jpg" alt="" class="library-image">
                        <p class="library-label">Malang</p>
                    </div>
                    <div class="library-item">
                        <img src="../../assets/Images/location/semarang.jpg" alt="" class="library-image">
                        <p class="library-label">Semarang</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <section class="footer-01">
            <div class="footer-content">
                <h2>Binus Library & Knowledge Center</h2>

                <p>Email: Library@binus.edu</p>
                <p>WA: 0878 0967 0004</p>
                <span>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </span>
            </div>
        </section>
        <section class="footer-copyright">
            <p>Copyright @ Kelompok 8 & Binus Library & Knowledge Center. All right reserved</p>
        </section>
    </footer>
</body>

</html>