<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login Form</title>
</head>
<body>
    <main>
        <section class="section-login">
            <div class="login-block">
                <div class="login-left">

                </div>
                <div class="login-right">
                    <h2>Login</h2>
                    <form action="">
                        <div class="input-block">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="input-block">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="input-block">
                            <button>Login</button>
                        </div>
                        <div>
                            <p>Don't Have account ? <a href="#">Register Now</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>