<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/register.css">
    <title>Register Form</title>
</head>
<body>
    <main>
        <section class="section-login">
            <div class="icon-group">
                <img src="../../assets/Images/icons/news-paper.png" alt="" class="icon icon-1" data-value="3">
                <img src="../../assets/Images/icons/book.png" alt="" class="icon icon-2" data-value="6">
                <img src="../../assets/Images/icons/book-stack.png" alt="" class="icon icon-3" data-value="4">
                <img src="../../assets/Images/icons/computer.png" alt="" class="icon icon-4" data-value="-9">
                <img src="../../assets/Images/icons/donation.png" alt="" class="icon icon-5" data-value="8">
                <img src="../../assets/Images/icons/book-download.png" alt="" class="icon icon-6" data-value="-5">
                <img src="../../assets/Images/icons/open-book.png" alt="" class="icon icon-7" data-value="-9">
                <img src="../../assets/Images/icons/journal.png" alt="" class="icon icon-8" data-value="-6">
            </div>
            <div class="login-block">
                <div class="login-left">
                    <img src="../../assets/Images/reading_book.svg" alt="" class="login-image">
                </div>
                <div class="login-right">
                    <h2>Register</h2>
                    <form action="" id="register-form">
                        <div class="input-block">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username">
                            <p class="err-msg" id="usernameErr"></p>
                        </div>
                        <div class="input-block">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email">
                            <p class="err-msg" id="emailErr"></p>
                        </div>
                        <div class="input-block">
                            <label for="dob">Date of Birth</label>
                            <input type="date" id="dob" name="dob">
                            <p class="err-msg" id="dobErr"></p>
                        </div>
                        <div class="input-block">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                            <p class="err-msg" id="passwordErr"></p>
                        </div>
                        <div class="input-block">
                            <label for="confPassword">Confirm Password</label>
                            <input type="password" id="confPassword" name="confPassword">
                            <p class="err-msg" id="confPasswordErr"></p>
                        </div>
                        <div class="input-block">
                            <button>Register</button>
                        </div>
                        <div>
                            <p class="dont-have-account">Have account ? <a href="./login.html">Login Now</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../js/register.js"></script>
<script>
    document.addEventListener('mousemove', parallaxEffect);

    function parallaxEffect(e) {
        document.querySelectorAll('.icon-group .icon').forEach(function(move) {
            // console.log(window.getComputedStyle(move).transform)
            let val = move.getAttribute('data-value');
            let x = (e.clientX * val) / 1000;
            let y = (e.clientY * val) / 1000;
            console.log(x)
            move.style.transform = `matrix(1, ${val / -50}, ${val /50}, 1, ${x}, ${y})`;
            // move.style.transform = `translateX(${x}px) translateY(${y}px)`;
        })
    }
</script>
</html>