/* header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 8%);
    z-index: 5;
    position: sticky;
}
header img {
    width: 150px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a {
    padding: 20px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.navbar a:hover {
    background-color: #f1f1f1;
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-btn {
    display: inline-block;
    position: relative;
}
.dropdown:hover .dropdown-btn {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
} */

main {
    margin: 0 10em;
}

.banner-section {
    margin: 1em 10em 0;
}
.banner-content {
    text-align: center;
    position: relative;
    /* margin: 0 3em; */
}
.banner-image {
    width: 90%;
    height: 600px;
    max-height: 600px;
    border: 1px solid #c5c5c598;
    border-radius: 6px;
}
.banner-content .banner-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.banner-content .banner-controller button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0063F7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.banner-content .banner-controller button:hover {
    background-color: #0553c7;
}
.banner-content .banner-controller button i {
    color: white;
    font-size: 18px;
}
.banner-section .banner-indicator {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.banner-content .prevNextBtn {
    width: 18px;
    height: 18px;
}

.banner-section .banner-indicator .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(114, 191, 245, 0.5);
}
.banner-section .banner-indicator .active {
    background-color: #0063F7;
}


.book-type-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-bottom: 100px;
}
.book-type-section h1 {
    margin-bottom: 30px;
    text-align: center;
}
.book-type-section .book-type-list {
    display: flex;
    gap: 50px;
    text-align: center;
}
.book-type-section .book-type-list .book-type-item {
    padding: 20px 40px;
    border: 1.5px solid #EBEBF0;
    border-radius: 10px;
}

.book-collection-section {
    margin: 50px 50px 100px;
    display: flex;
    flex-direction: column;
}
.book-collection-section h1 {
    margin-bottom: 30px;
}

.collection-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.library-content {
    margin: 50px 50px 100px;
}
.library-content h1 {
    margin-bottom: 30px;
}
.library-content .library-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.library-item {
    width: 100%;
    height: 220px;
    position: relative;
}
.library-item .library-image {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.library-item .library-label {
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 8px;
    color: white;
    font-size: 22px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.library-item .library-label:hover {
    opacity: 1;
    cursor: pointer;
}